.container-enterRoom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  input {
    margin: 16px;
    padding: 8px;
    height: 30px;
    width: 80%;
    border-radius: 15px;
    font-size: 10px;
    text-align: center;
  }

  button {
    margin: 16px;
    padding: 8px;
    border-radius: 15px;
  }
}
