header {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
  padding: 16px;

  img {
    &.image-header-mobile {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &.image-header-desktop {
      @media screen and (max-width: 769px) {
        display: none;
      }
    }
  }
}
