.statistics-container {
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }

  table {
    width: 100%;
    border: 1px solid black;
    font-size: 8px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    tr {
      td,
      th {
        padding: 6px;
        border-bottom: 1px solid black;
      }

      &:last-child {
        td {
          border: none;
        }
      }
    }

    .title-player {
      background-color: #ffd067;
    }

    .title-quantity {
      background-color: #ab87ff;
    }

    .title-victories {
      background-color: #6ab547;
    }

    .title-defeats {
      background-color: #fe4a49;
    }

    .title-draw {
      background-color: #28afb0;
    }

    .content-player {
      background-color: #ffd067;
      opacity: 0.7;
    }

    .content-quantity {
      background-color: #ab87ff;
      opacity: 0.7;
    }

    .content-victories {
      background-color: #6ab547;
      opacity: 0.7;
    }

    .content-defeats {
      background-color: #fe4a49;
      opacity: 0.7;
    }

    .content-draw {
      background-color: #28afb0;
      opacity: 0.7;
    }
  }

  .buttons-container {
    margin-top: 70px;

    @media screen and (min-width: 768px) {
      display: flex;
      margin-top: 70px;
    }

    .closeGame-button {
      margin: 20px;
      padding: 10px;
      border-radius: 30px;
      background-color: #fe4a49;
      line-height: 20px;
      color: #f3f8f2;
      cursor: pointer;
    }

    .back-button {
      margin: 20px;
      padding: 10px;
      border-radius: 30px;
      background-color: #6ab547;
      line-height: 20px;
      color: #f3f8f2;
      cursor: pointer;
    }
  }
}
